@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100%;
    background-color: #171c28;
}

a {
    color: inherit; 
    text-decoration: inherit; 
  }

.wrapper {
    color: #f0f6fc;
    background-color: #171c28;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0;
    padding: 0;

} 

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: #171c28;
    border-radius: 100vw;
    margin-block: .5em;
    border: .25em #171c28;
}

::-webkit-scrollbar-thumb {
    background: #c9d1d9;
    border-radius: 100vw;
}