.highlight > a {
    color: inherit;
    text-decoration-color: #6633ff;

}

.highlight {
    text-decoration: underline;
}

.highlight:hover {
    background-color: #6633ff;
    transition: 0.3s ease-in;
}

.note {
    font-style: italic;
}


.container {
    margin: 15vh 0 10vh 0;
    display: flex;
    flex-flow: column wrap;
}

@media (max-width: 768px) {
    .container {
        padding: 0 12vw 0 12vw;
    }
}
