.main-greeting {
    margin: 6rem 0 5rem 0;  
    padding: 0 1vw 0 12vw;
    letter-spacing: 0.1rem;
    display: flex;
    flex-flow: column wrap;
    column-gap: 1px;
    max-width: 65%;
}

.large {
    font-size: clamp(1.7rem, 1.7vw, 3.7rem);
}


h3.large, h1.small, p.large {
    margin: 0.8rem 0 0 0;
}

@media (max-width: 768px) {
    .large {
        font-size: clamp(1.3rem, 1.3vw, 2.3rem);
    }
    .main-greeting {
        max-width: 90%;
    }
}


