.about-me {
    margin: 0 0 5rem 0;
    padding: 0 10vw 0 10vw;
    max-width: 65%;
}

@media (max-width:768px) {
    .about-me {
        max-width: 90%; 
    }
}

.purple {
    color: #6633ff;
    font-family: 'Roboto Mono', monospace;
}

.small {
    font-size: clamp(1rem, 1vw, 2rem)
}

.large {
    font-size: clamp(1rem, 2vw, 3rem);
}

.gray {
    color: #aaaaaa;
}