.styled-button {
    min-width: 10rem;   
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    cursor: pointer;
    background-color: #171c28;
    color: #f0f6fc;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid #6633ff;
    border-radius: 8px;
}

.styled-button:hover {
    color: #6633ff;
}

.styled-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@media (max-width: 768px) {
    .styled-button {
        max-width: 7rem;
    }
}