.about-me {
    margin: 7rem 0 5rem 0;
    padding: 0 15vw 0 12vw;
    max-width: 65%;
    display: flex;
    flex-flow: column wrap; 
    box-sizing: border-box;
}



@media (max-width:768px) {
    .about-me {
        max-width: 90%; 
    }
    .large {
        font-size: clamp(1.3rem, 1.3vw, 2.3rem);
    }
}

.purple {
    color: #6633ff;
    font-family: 'Roboto Mono', monospace;
}

.small {
    font-size: clamp(1rem, 1vw, 2rem)
}

.large {
    font-size: clamp(1.7rem, 1.7vw, 3.7rem);
}

.gray {
    color: #aaaaaa;
}


hr{
    width: 120%;
    overflow: hidden;
}
